@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./components/rte/theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --popover: #ededed;
  --popover-foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #000000;
    --foreground: #ededed;
    --popover: #171717;
    --popover-foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add styles for links within the Tiptap editor */
.ProseMirror a {
  color: var(--color-blue-500);
  text-decoration: underline;
  /* cursor: pointer; */
}

/* .ProseMirror a:hover {
  color: theme('colors.blue.600');
} */

.ProseMirror .ProseMirror-selectednode {
  outline: 2px solid #68cef8;
}

/* Align images using flexbox on the parent paragraph
   for @tiptap/extension-image with inline: true
   <p style="text-align: center;">
     <img src="data:image/jpeg;base64,(...)" style="text-align: center;">
   </p>
 */
/* Previous styles (text not inline):

.ProseMirror p[style*="text-align: center"] {
  display: flex;
  justify-content: center;
}

.ProseMirror p[style*="text-align: right"] {
  display: flex;
  justify-content: flex-end;
}

.ProseMirror p[style*="text-align: left"] {
  display: flex;
  justify-content: flex-start;
}
 */

.tiptap p img,
.tiptap p[style*="text-align: left"] img {
  float: left;
  margin: 0rem 1rem 0rem 0rem; /* Add space between image and text */
}

.tiptap p[style*="text-align: right"] img {
  float: right;
  margin: 0rem 0rem 0rem 1rem; /* Add space between image and text */
}

.tiptap p[style*="text-align: center"] img {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-width: 100%;
}

/* Match paragraph margin-top/bottom of the prose container */
.prose .tiptap p[style*="text-align: center"] img {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose-sm .tiptap p[style*="text-align: center"] img {
  margin-top: 1.1428571em;
  margin-bottom: 1.1428571em;
}
.prose-lg .tiptap p[style*="text-align: center"] img {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

/* Align images directly
   for @tiptap/extension-image with inline: false
   <img src="data:image/jpeg;base64,(...)" style="text-align: center;"> */
.ProseMirror img[style*="text-align: center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ProseMirror img[style*="text-align: right"] {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.ProseMirror img[style*="text-align: left"] {
  display: block;
  margin-left: 0;
  margin-right: auto;
}
